<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>474392249370-c176b97toddfbse52sthh8l9je1aic19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.474392249370-c176b97toddfbse52sthh8l9je1aic19</string>
	<key>API_KEY</key>
	<string>AIzaSyAeANoQvkoW4EgJ3cdypR0Btzl_nnTHCrY</string>
	<key>GCM_SENDER_ID</key>
	<string>474392249370</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Josh.citytipps</string>
	<key>PROJECT_ID</key>
	<string>citytipps-787c3</string>
	<key>STORAGE_BUCKET</key>
	<string>citytipps-787c3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:474392249370:ios:d365a21f39e0c1fc687da3</string>
</dict>
</plist>